<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" href="../../styles.css"/> -->
  <title>Connexion</title>
</head>
<body>
  <div class="form-login">
    <form class="text-center border border-light p-5">
        <p class="h4 mb-4">Se connecter</p>
        <div class="form-row mb-4">
            <input type="text" class="form-control mb-4" placeholder="Login">
            <input type="password" class="form-control mb-4" placeholder="Mot de passe">
        </div>
        <button type="button" class="btn btn-primary">Connexion</button>
    </form>
</div>
</body>
</html>



