<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" href="../../styles.css"/> -->
  <title>Connexion</title>
</head>
<body>
  <div class="form-container">
    <form class="text-center border border-light p-5">
    <div style="margin: auto">
      <img src="../../assets/logo1.jpg"  alt="LogoGSB" />
    </div>
    <br />
    <br />
        <div class="form-row mb-4">
            <input type="text" class="form-control mb-4" placeholder="Login">
            <input type="password" class="form-control mb-4" placeholder="Mot de passe">
        </div>
        <button type="button" class="btn btn-primary" *ngIf="!authStatus" (click)="onSignIn()">Connexion</button>
        <button class="btn btn-danger" *ngIf="authStatus" (click)="onSignOut()">Se déconnecter</button>
      </form>
</div>
</body>
</html>



