<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <link rel="stylesheet" href="../../styles.css"/> -->
  <title>Connexion</title>
</head>
<body>
<!-- Formulaire de connexion  -->
<div class="form-container">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"form class="text-center border border-light p-5">
        <div class="form-group">

          <!-- Logo -->
          <div style="margin: auto">
            <img src="../../assets/logo1.jpg"  alt="LogoGSB" />
          </div>

          <!-- Login et mdp -->
        <div class="form-row mb-4">
          <input formControlName="login" type="text" id="login" name="login" class="form-control mb-4" placeholder="Login">
          <input formControlName="mdp" type="password" id="mdp" name="mdp" class="form-control mb-4" placeholder="Mot de passe">
      </div>

      <!-- Bouton -->
        <button class="btn btn-primary" type="submit">Connexion</button>
  </div>
  </form>
